# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env

# build files
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
